<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.wp.awesomemmz">
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	
	<application
		android:name=".APP"
		android:allowBackup="true"
		android:appComponentFactory=""
		android:hardwareAccelerated="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppThemeBase"
		tools:replace="android:appComponentFactory">
		<activity android:name=".skill.RichTextActivity">
		</activity>
		<activity android:name=".star.BoxingTestActivity">
		</activity>
		<activity android:name=".skill.BottomSheetBehaviorActivity">
		</activity>
		<activity android:name=".frame.LiveDataTestActivity">
		</activity>
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.VIEW"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".other.SpecActivity">
		</activity>
		<activity android:name=".other.BannerActivity">
		</activity>
		<activity android:name=".other.OverScrollActivity">
		</activity>
		<activity android:name=".image.ImageActivity">
		</activity>
		<activity android:name=".other.PageSlideActivity">
		</activity>
		<activity android:name=".custom.CustomViewActivity">
		</activity>
		<activity android:name=".custom.BezierTestActivity">
		</activity>
		<activity android:name=".custom.BezierTestActivity2">
		</activity>
		<activity android:name=".frame.LifecycleActivity">
		</activity>
		
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.file.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider> <!-- ucrop -->
		<activity
			android:name="com.yalantis.ucrop.UCropActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Boxing.AppTheme.NoActionBar"/> <!-- ucrop -->
		<activity android:name=".index.ProductActivity"/>
	</application>

</manifest>